@use 'variables'
    
@mixin flex-space-between
    display: flex
    justify-content: space-between
    align-items: center

@mixin flex-space-around
    display: flex
    justify-content: space-evenly
    padding: 1rem 0

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center
    gap: 5rem

@mixin flex-end
    float: right
    display: flex
    padding: 2rem 2rem 0 0

@mixin flex-column
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

@mixin borders-horizontal
    border: 2px solid #174C4F

@mixin lists-style-darkmode
    color: variables.$dark-mode-text-color

@mixin lists-style-lightmode
    color: variables.$light-mode-text-color

@mixin dark
    .dark, .work-container, .about-container, .contact-container, .navbar-vertical a, footer, button
        color: variables.$dark-mode-text-color 
    .work-container, .about-container, .contact-container, footer, .navbar-container
        background: variables.$background-dark-mode 
    .footer-home
        background: transparent
    .sub-menu button::before
        transform-origin: 0 50%
        background: #D9B54A
        
@mixin light
    .light, .work-container, .about-container, .contact-container, .navbar-vertical a, footer, button
        color: variables.$light-mode-text-color
    .work-container, .about-container, .contact-container, footer, .navbar-container
        background: variables.$background-light-mode 
    .footer-home
        background: transparent 
        color: variables.$dark-mode-text-color  
    .sub-menu button::before
        transform-origin: 0 50%
        background: #5D0003      

@mixin darkmode
        background-color: variables.$background-dark-mode
        color: variables.$dark-mode-text-color

@mixin lightmode
        background-color: variables.$background-light-mode
        color: variables.$light-mode-text-color

@mixin background-image 
    .dark, .light
        background-size: cover
        object-fit: contain
        width: 5rem
        background-repeat: no-repeat
        overflow: hidden
        position: fixed
        right: 0
        z-index: 3
        
@mixin background-home
    background-position: top
    background-repeat: no-repeat
    background-size: cover
    height: 100vh

@mixin button
    width: auto
    background-color: transparent
    border: 0
    cursor: pointer

@mixin button-navbar
    width: 5rem
    background-color: transparent
    border: none
    cursor: pointer
    height: 3rem
    font-family: variables.$font-stack
    text-transform: variables.$font-uppercase
    text-align: left

@mixin main-containers
    width: 100vw
    height: auto
    display: flex
    justify-content: center
    align-items: center




    





