$font-stack: 'Poppins', sans-serif
$font-stack-thin: 'Poppins', sans-serif
$font-stack-300: 300
$font-uppercase: uppercase
$background-dark-mode: #020202
$background-light-mode: #FFFFFF
$dark-mode-text-color: #FFFFFF
$light-mode-nav-color: #174C4F
$light-mode-text-color: #303030
$breakpoint-xxl: 1400px
$breakpoint-xl: 1200px
$breakpoint-lg: 992px
$breakpoint-md: 768px
$breakpoint-sm: 576px
$borders-horizontal-darkmode: 1px solid #FFC309
$borders-horizontal-lightmode: 1px solid #5D0003
$borders-vertical-darkmode: 1px solid #174C4F
$borders-vertical-lightmode: 1px solid #FFC309 
$hr-background-color: #FFC309
$lightmode-button: #020202
$darkmode-button: #FFFFFF
$darmode-background-color-link: #174C4F
$lightmode-background-color-link: #FFC309
$icon-darkmode: #FFFFFF
$icon-lightmode: #303030
$button-color-focus-darkmode: #FFC309
$button-color-focus-lightmode: #020202

