$font-stack: 'Poppins', sans-serif
$font-stack-thin: 'Poppins', sans-serif
$font-uppercase: uppercase
$background-dark-mode: #020202
$background-light-mode: #FFFFFF
$dark-mode-text-color: #FFFFFF
$light-mode-nav-color: #174C4F
$light-mode-text-color: #303030
$breakpoint-laptop: 1279px
$breakpoint-tablet: 768px
$breakpoint-mobile: 480px
$borders-horizontal-darkmode: 2px solid #174C4F
$borders-horizontal-lightmode: 2px solid #ffffff