$font-stack: 'Poppins', sans-serif
$background-dark-mode: #020202
$background-light-mode: #FFFFFF
$dark-mode-text-color: #FFFFFF
$light-mode-text-color: #303030
$breakpoint-laptop: 1279px
$breakpoint-tablet: 768px
$breakpoint-mobile: 480px