@use 'variables'
@use 'mixins'

body, html
    width: 100vw
    height: auto
    font: variables.$font-stack
    color: variables.$dark-mode-text-color
    padding: 0
    margin: 0 auto
    overflow-x: hidden

h1, h2, h3, h4, h5, h6, p, label
  font-family: variables.$font-stack

h4, h5, h5
  font-weight: variables.$font-stack-300

.darkmode-background, .lightmode-background
    width: 100vw
    height: 100%
    // overflow: hidden

.button-darkmode button
  @include mixins.button

.dark
  @include mixins.dark
  @include mixins.background-image
  .home-background 
    background: url("https://live.staticflickr.com/65535/53018570272_8fd8e663c9_b.jpg")
    @include mixins.background-home
  .navbar-vertical
    button .contact-button-container
      @include mixins.button-navbar
      border-bottom: variables.$borders-horizontal-darkmode
  small
      @include mixins.lists-style-darkmode

  .contact-button
    background: variables.$button-border-darkmode  

  .contact-address
    a p
      color: variables.$background-light-mode

  .contact-inputs
    input[type="text"], textarea[id="message"]
      color: variables.$dark-mode-text-color

.light
  @include mixins.light
  @include mixins.background-image 
  .navbar-home
    border-top: variables.$borders-horizontal-lightmode
    border-bottom: variables.$borders-horizontal-lightmode
  .navbar-container
    ul li a, small
      @include mixins.lists-style-lightmode
      @include mixins.lists-general-style

  .home-background
    background: url("https://live.staticflickr.com/65535/53018570307_cb1cb6f573_b.jpg")
    @include mixins.background-home 

  .navbar-vertical
    button 
      @include mixins.button-navbar
      border-bottom: variables.$borders-horizontal-darkmode   

  .contact-button
    background: variables.$button-border-lightmode

 
.navbar-container 
  @include mixins.flex-column
  @include mixins.sm-screen
  @include mixins.bigger-screens
  position: absolute
  z-index: 2
  width: 100vw
  .navbar-home
    z-index: 2
    width: 100%
    // margin: 0 auto

.navbar-home
  @include mixins.flex-center
  border-top: variables.$borders-horizontal-darkmode
  border-bottom: variables.$borders-horizontal-darkmode

  ul
    li a
      @include mixins.lists-style-darkmode
      text-transform: variables.$font-uppercase

// .navbar-props
//   width: 100%
//   display: flex
//   justify-content: space-evenly
//   align-items: center

.logo-home-container
  @include mixins.flex-space-around
  align-items: center
  width: 100vw

.navbar-container-vertical
  width: 100%  

  h1
    font-size: 1rem
    padding: 2rem 0 0 4rem

.navbar-container-vertical nav 
  @include mixins.flex-space-around
  // background-color: rgba(255, 195, 9, 1)
  // padding-bottom: 1rem

  button
    @include mixins.button-navbar
    width: 10rem
    padding: 0.5rem 1rem
    margin: 1rem
    // border: variables.$borders-horizontal-darkmode
    border-radius: 5px
    // background-color: black


  // button:hover
  //   background-color: transparent
  //   color: white

.logo-component 
  @include mixins.flex-center
  img
    width: 30vw  

.work-container, .about-container, .contact-container, .gallery-images container, .upload-container
  @include mixins.main-containers
  height: 100%

.about-text 
  @include mixins.flex-column-align-center
  
  .about-bg-image    
    padding: 0

    img
      width: 100% 

.about-img, .about-text, .about-bg-image
  width: 50%
  height: auto
  padding: 2rem 0 2rem 2rem

  img
    width: 100%
    border-radius: 4px
    object-position: top
    object-fit: cover

  p
    line-height: variables.$line-height-text
    padding: 0 2rem     

.footer section
  @include mixins.flex-column
  @include mixins.main-containers
  height: 20vh
  background-color: transparent
  position: relative

  p
    .developed-by
    font-size: 0.8rem

.footer-home
  @include mixins.flex-center
  padding-top: 80vh

.gallery-images container
  padding-top: 10rem
  

.gallery-images
  @include mixins.flex-column
  max-width: 100vw
  padding: 1rem

  img
    width: 50vw
    height: auto
    border-radius: 5px

#header.home header
  background-color: transparent

.filter-container
  margin-top: clamp(min(18vw), 250px, max(30vw))

.about-content, .contact-content
  display: flex
  width: 100vw
  margin-top: 25%  

  .contact-address, .contact-form
    width: 100%
    padding: 2rem    

  .contact-button 
    margin-top: 2rem 
          
.camera-icon
  width: 5rem
  margin-left: 2rem

.contact-container
  @include mixins.flex-start
  // position: relative
  
  img
    position: absolute
    width: 100vw
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    filter: blur(10px)
    -webkit-backdrop-filter: blur(9.7px)
    
  .contact-address, .contact-form
    z-index: 1    

    p, button
      text-transform: variables.$font-uppercase      

    a
      @include mixins.lists-general-style

    .contact-inputs:nth-child(n+2)
      padding-top: 2rem

    .contact-inputs
      display: flex
      flex-direction: column
      gap: 0.5rem    

      input
        height: 2rem

      textarea
        height: 10rem

      input, textarea
        outline: none
        caret-color: variables.$button-color-focus-darkmode

    .contact-button-container
      @include mixins.flex-center      

    .contact-button
      @include mixins.linear-gradient
      width: 7rem    

.error-page
  @include mixins.flex-column 
  height: 100vh     
  padding-top: 2rem

.upload-container
  width: 100vw
  height: auto
  padding-top: 45vh

// Sub-menu

.menu button
  display: inline-block
  margin: 0 
  

.menu button
  @include mixins.flex-space-around-center
  position: relative
  padding: 4px 0  

.menu button::before
  content: ""
  width: 100%
  height: 1px
  position: absolute
  left: 0
  bottom: 0
  background: #fff
  transition: 0.5s transform ease
  transform: scale3d(0,1,1)
  transform-origin: 0 50%

.menu button:hover::before
  transform: scale3d(1,1,1)

.menu button:focus, .navbar-home a:focus
  font-weight:  bold

.scroll-to-top
  position: fixed 
  width: auto
  left: 5rem
  bottom: 3rem
  height: auto
  z-index: 1
  cursor: pointer

.scroll-to-top button
  @include mixins.button
  @include mixins.flex-center

.photo img:hover
  background-color: white

ul li a, small
  @include mixins.lists-general-style
  @include mixins.lists-style-lightmode

.hamburger-icon 
  @include mixins.flex-center

// loading button rotate

.loading-container
  @include mixins.flex-center
  max-width: 100vw

  .image-rotate 
    width: 20%
    animation: rotation 7s infinite linear
    transition-delay: 3s    

@keyframes rotation 
  from 
    transform: rotate(0deg) 
  to 
    transform: rotate(359deg)

// transition page

.transition-fade
  opacity: 1
  transition: 1000ms
  transform: translateX(0)
  transform-origin: left

html.is-animating .transition-fade
  opacity: 1
  transform: translateX(100%)

html.is-leaving .transition-fade
  opacity: 0

// Media Queries

@media screen and (max-width: variables.$breakpoint-md) 
  .navbar-container-vertical nav 
    @include mixins.flex-wrap


  






